[submodule "CommonLibs"]
	path = CommonLibs
	url = git@github.com:RangeNetworks/CommonLibs.git
	branch = 5.0
[submodule "NodeManager"]
	path = NodeManager
	url = git@github.com:RangeNetworks/NodeManager.git
	branch = 5.0
