[submodule "CommonLibs"]
	path = CommonLibs
	url = git@github.com:endaga/CommonLibs.git
	branch = master
[submodule "sqlite3"]
	path = sqlite3
	url = git@github.com:RangeNetworks/sqlite3.git
	branch = master
[submodule "NodeManager"]
	path = NodeManager
	url = https://github.com/endaga/NodeManager.git
	branch = master
