Source: openbts-public
Section: comm
Priority: optional
Maintainer: Endaga, Inc. <hello@endaga.com>
Homepage: http://www.endaga.com/
Build-Depends: build-essential, debhelper (>= 7), pkg-config, autoconf, libtool, libortp-dev, libsqlite3-dev, libusb-1.0-0-dev, libreadline-dev, libssl-dev, libzmq3-dev, libzmq3, liba53
Standards-Version: 3.7.3

Package: openbts-public
Provides: openbts
Section: comm
Priority: optional
Architecture: any
Essential: no
Depends: sqlite3, libusb-1.0-0, libortp-dev, libc6, pkg-config, libzmq3, liba53, libreadline6, libssl1.0.0, supervisor
Description: Endaga - OpenBTS GSM+GPRS Radio Access Network Node
